.tijelo {
  background:
    url("slike/poz.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.25));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: rgba(184, 134, 11, 0.55);
}

.glava {
  padding: 22px 24px;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 50;
  border: none;
}

.traka {
  padding: 22px 30px;
  margin: auto;
  border-radius: 18px;
  max-width: 1180px;
  background: rgba(255, 255, 255, 0.82);
  border: 1px solid rgba(255, 255, 255, 0.9);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.znak {
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  color: rgba(184, 134, 11, 0.55);
}

.linkovi {
  align-items: center;
  gap: 35px;
  display: flex;
}

.linkovi a {
  font-size: 20px;
  color: rgba(184, 134, 11, 0.55);
  font-weight: 500;
  text-decoration: none;
}

.tipke {
  background: rgba(184, 134, 11, 0.15);
  border: 1px solid rgba(184, 134, 11, 0.35);
  padding: 9px 14px;
  color: rgba(184, 134, 11, 0.55);
}

.sadrzaj {
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 150px 30px 50px;
  min-height: 100vh;
}

.sve {
  margin-bottom: 55px;
  text-align: center;
}

.sve h1 {
  font-weight: 700;
  line-height: 0.95;
  letter-spacing: 8px;
  font-size: 92px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.35);
  color: #e8c26a;
}

.sve p {
  margin-top: 22px;
  font-size: 24px;
  text-shadow: 0 3px 8px rgba(0,0,0,0.45);
  font-weight: bold;
  color: white;
}

.kartice {
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  max-width: 950px;
  gap: 28px;
}

.kartica {
  padding: 32px 24px;
  background: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  text-align: center;
  min-height: 230px;
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: #555;
}

.kartica h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 18px 0 14px;
  color: rgba(184, 134, 11, 0.55);
}

.kartica p {
  line-height: 1.5;
  color: #5f6368;
}

.slikica {
  font-size: 42px;
}

.slikica img {
  max-height: 100px;
  max-width: 100px;
}

.kartica:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.88);
}

@media (max-width: 900px) {
  .glava {
    padding: 14px;
    position: absolute;
  }

  .traka {
    flex-direction: column;
    padding: 18px;
    gap: 18px;
  }

  .znak {
    font-size: 28px;
  }

  .linkovi {
    gap: 18px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .linkovi a,
  .tipke {
    font-size: 17px;
  }

  .sadrzaj {
    padding: 210px 22px 50px;
    justify-content: flex-start;
  }

  .sve h1 {
    font-size: 58px;
    letter-spacing: 5px;
  }

  .sve p {
    font-size: 21px;
  }

  .kartice {
    width: 100%;
    grid-template-columns: 1fr !important;
    display: grid;
    max-width: 650px;
    gap: 26px;
  }

  .kartica {
    min-height: 220px;
    padding: 32px 24px;
  }
}